.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
subl
cert/*
/.idea/
/admin/node_modules/
/admin/package-lock.json
/package-lock.json
